:root{
    --title-font : 26px;
    --info-font: 16px;

    --padding : 20px;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

 /* general */

body{
    font-family: 'Heebo', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* header */

header h1{
    font-size: 85px;
    font-family: 'Bebas Neue', cursive;
    color:white;
    background-color: black;  

}

h1 span{
    margin-left:1rem;
}

/* nav */

nav .menu{
    display:flex;
    justify-content: space-around;
    font-size:30px;
    border: 6px solid black;
}

nav .menu li a{
    color:black;
    text-transform: capitalize;
}

nav .menu li a:hover{
    background-color : black;
    color: white;
}


/* main */

/* section1 */

.image{
    position: relative;
}

.first{
    opacity:0.6;
    width:680px;
    height:680px; 
    border : 5px solid white;
}
.second{
    width:680px;
    height:680px; 
    opacity:0.5;
    position: absolute;
    border : 5px solid black;
}

.title{
    font-family: 'Bebas Neue', cursive;
    font-size:80px;
    position:absolute;
    top: 480px;
    margin-left:1rem;
}

.intro{
    font-size: 40px;
    top:550px;
    left:850px;
    color:black;
    text-align: right;
    margin-left:25rem;
    margin-right:1rem;
    white-space: nowrap;
    font-family: 'Nanum Pen Script', cursive;
    position:absolute;
}

/* --------------------------------------------------- */

/* 785보다 작을 때는 반응형 */

/* @media screen and (max-width : 785px){
    header h1{
        font-size: 9vw;
        font-family: 'Bebas Neue', cursive;
        color:white;
        background-color: black;  
    
    }
     */
    /* nav */
    
    /* nav .menu{
        display:flex;
        justify-content: space-around;
        font-size:3vw;
        border: 6px solid black;
    }
    
    nav .menu li a{
        color:black;
        text-transform: capitalize;
    }
    
    nav .menu li a:hover{
        background-color : black;
        color: white;
    }
     */
    
    /* main */
    
    /* section1 */
/*     
    .image{
        position: relative;
    }
    
    .first{
        opacity:0.6;
        width:30%;
        height:30%; 
        border : 5px solid white;
    }
    .second{
        width:29%;
        height:99%;
        opacity:0.5;
        position: absolute;
        border : 5px solid black;
    }
    
    .title{
        font-family: 'Bebas Neue', cursive;
        font-size:7vw;
        position:absolute;
        top: 50%;
        margin-left:1rem;
    } */
    
    /* .intro{
        font-size: 5vw;
        top:50%;
        color:black; 
        margin-left:25rem;
        margin-right:1rem;
        font-family: 'Nanum Pen Script', cursive;
    }
} */

    /* @media 끝 */

/* --------------------------------------------------- */

  .scrolldown{
      text-align:center;
      font-size: 85px;
    font-family: 'Bebas Neue', cursive;
    color:white;
     background-color: black;  
  }

  
    .content{
    font-size: 26px;
    text-align:left;
    width: 50%;
    margin:1rem;
    }

    .interview{
        margin-left: 1rem;
    }